@charset "UTF-8";
/* Deixar as cores em HEX para criar costume (melhora no algoritmo do google)*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
/* Configurações globais de css */
}

html, body{
    min-height: 100vh;
    background-color: #a9a9a9;
    font-family: var(--fonte1);
}

header{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    
}

header > h1{
    padding-top: 50px;
    /* text-transform: uppercase */
    font-variant: small-caps;
    font-family: var(--fonte2); 
    font-size: 10vw; /* 10% da largura da tela */
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* espaçamento duplo entre as linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: #ffffff;
    color: black;
}

section.imagem{
    background-color: #333333;
    color: #ffffff;
    box-shadow: inset 6px 6px 13px 0px #000000; 
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: #00000083;
    text-shadow: 1px 1px 0px #000000;
}
section#img01{
    background-image: url('../Imagens/background001.jpg');
    background-position: right center;
    
}
section#img02{
    background-image: url('../Imagens/background002.jpg');
    
}


footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
